<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94468938425-aksqgga6ftukrsajkfq9kiu3ikg5rqcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94468938425-aksqgga6ftukrsajkfq9kiu3ikg5rqcf</string>
	<key>API_KEY</key>
	<string>AIzaSyD3WCzvYDa7nQzDH3s78Ia6sAuRJImicKs</string>
	<key>GCM_SENDER_ID</key>
	<string>94468938425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xevo.ashish.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>info6350-3ef47</string>
	<key>STORAGE_BUCKET</key>
	<string>info6350-3ef47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94468938425:ios:2973aba939dc2283d15968</string>
	<key>DATABASE_URL</key>
	<string>https://info6350-3ef47.firebaseio.com</string>
</dict>
</plist>